.sub-menu-btns .nav-link {
    text-align: start;
    border-bottom: 1px solid var(--silver);
    text-wrap: nowrap;
    color: rgba(0,0,0, 0.4);
}

.sub-menu-btns .nav-link.active {
    background-color: var(--silver);
    color: var(--rich-black);
    font-weight: 500;
}

.sub-menu-btns .nav-link:hover:not(.active) {
    background-color: rgba(var(--light-blue-rgb), 0.5);
    color: var(--rich-black);
}

.project-page {
    overflow: hidden;
    height: 75vh;
    overflow-y: scroll;
}

.project-title {
    font-weight: 600;
}