.flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.panel {
  background-color: var(--orange);
  width: 19vw;
  height: 65vh;
  margin: 2em 1em;
  padding: 1em;
  text-align: center;
  border-style: solid;
  border-width: 4px;
  border-color: var(--brown);
  border-radius: 30px;
  box-shadow: 5px 5px var(--brown);
  transition: 0.5s;
}

.panel:hover {
  border-radius: 0;
  padding: 1.7em;
  cursor: pointer;
}

.panel img {
  margin: 10vh 0;
}


#about {
  box-shadow: 5px 5px var(--green);
}

#education {
  background-color: var(--dark-green);
  box-shadow: 5px 5px var(--orange);
}

#experience {
  background-color: var(--biege);
  box-shadow: 5px 5px var(--dark-green);
}

#skills {
  background-color: var(--green);
  box-shadow: 5px 5px var(--orange);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fee2be;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 5px 10px;
  border: 5px solid var(--brown);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--green);
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
  overflow: scroll; /* Enable scroll if needed */
  text-align: center;
}

/* The Close Button */
.close {
  color: var(--orange);
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--brown);
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 15px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--orange); /* Set a background color */
  color: var(--beige); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-weight: bold;
}

#myBtn:hover {
  background-color: var(--brown); /* Add a dark-grey background on hover */
}


@media only screen and (max-width: 750px) {
  .flexbox {
    flex-flow: column wrap;
  }

  .panel {
    width: 70vw;
    height: max-content;
    margin: 2vh auto;
    padding: 1em;
  }

  .panel img {
    margin: 5vh 0;
  }
}