.flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.panel {
  background-color: var(--orange);
  width: 40vh;
  height: 65vh;
  margin: 1em;
  padding: 1em;
  text-align: center;
  border-style: solid;
  border-width: 4px;
  border-color: var(--brown);
  border-radius: 0;
  box-shadow: 5px 5px var(--brown);
  transition: 0.5s;
}

.panel:hover {
  border-radius: 5%;
  padding: 1.7em;
  cursor: pointer;
}


#about {
  box-shadow: 5px 5px var(--green);
}

#education {
  background-color: var(--dark-green);
  box-shadow: 5px 5px var(--orange);
}

#experience {
  background-color: var(--biege);
  box-shadow: 5px 5px var(--dark-green);
}

#skills {
  background-color: var(--green);
  box-shadow: 5px 5px var(--orange);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fee2be;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 5px 20px;
  border: 5px solid var(--brown);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--green);
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
  text-align: center;
  overflow: scroll; /* Enable scroll if needed */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

/* Track */
::-webkit-scrollbar-track {
  margin: 7px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: var(--orange);
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--brown);
  text-decoration: none;
  cursor: pointer;
}