.card-title {
  background-color: var(--green);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  margin: 0 0 0 10px;
  text-align: left;
  height: auto;
  width: max-content;
  padding: 0.5vw 1vw 0vw 1vw;
  cursor: pointer;
  transition: 0.5s;
}

.card-title:hover {
  padding: 1vw 1vw 0.2vw 1vw;
  background-color: var(--green);
}

.active {
  padding: 1vw 1vw 0.2vw 1vw;
}

.card {
  display: none;
  border-radius: 0px 10px 10px 10px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--brown);
  text-align: left;
  margin-bottom: 1vh;
  padding: 1vw;
  box-shadow: 5px 5px var(--orange);
}

.odd {
  background-color: var(--yellow);
}

#expandAllBtn {
  float: right;
  margin: 0.5vh 0.5vw;
  padding: 0.5vh 0.5vw;
  background-color: var(--beige);
  border: solid 3px var(--brown);
  box-shadow: 2px 2px var(--orange);
  cursor: pointer;
  transition: 0.5s;
}

#expandAllBtn:hover {
  padding: 0.7vh 0.7vw;
  box-shadow: 5px 5px 5px var(--orange);
}