.skill-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "col1 col2";
}

.skill-col-1 {
  text-align: left;
  grid-area: col1;
}

.skill-col-2 {
  text-align: left;
  grid-area: col2;
}

.flex-list li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: circle;
}

.orange-span {
  color: var(--orange);
}

.green-span {
  color: var(--green);
}

.d-green-span {
  color: var(--dark-green);
}

.ming-span {
  color: var(--ming);
}